* {
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f8f9fa;
}

.nab {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.dis {
  color: white;
  background-color: black;
  margin: 0px 0px 5px;
  padding: 1px;
}

nav {
  background-color: black;
  height: 70px;
  width: 100%;
}

#MDZ {
  margin: 15px;
}

a {
  color: white !important;
}

.carru {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.img {
  height: 842px;
}

.laimg {
  padding: 3px;
  height: 100%;
}

.di {
  color: white;
  background-color: black;
  margin: 5px 0px 5px;
  padding: 1px;
}
